body{
    background-color: lightgreen;

    height: 100vh;
    display: flex; 
    flex-direction: column; 
}

main{
    padding: 1em;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li{
    background-color: cyan;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    width: fit-content;
    padding: 1em;
}

.enunciado{
    background-color: lightyellow;
}

header, footer {
    text-align: center;
    color: white;
    background-color: darkblue;
    padding: 1px;
}

footer {
    font-weight: bold;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}